<!DOCTYPE html>
    <html lang="en">
        <head>
            <title> Crime Map </title>
        <style>
          #map {
            height: 400px;
            width: 80%        
          }
        </style>
        </head>
        <body>
            <div id="map"></div>
            <script>
                function initMap() {
                var options = {
                    zoom: 7,
                    center: { lat: 42.933241, lng: 23.340288 },
                };
            }
                var map = new google.maps.Map(document.getElementById('map'), options);

                google.maps.event.addListener(map, 'click', function(event){placeMarker(event.latLng);
            
                var marker = new google.maps.Marker({position: { lat: 33.933241, lng: -84.340288 }, map: map,
                });
              }
            </script>
            <script defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt9O_zeocQk0YyVORT6CERAQl40EzwyQM&callback=initMap">
                </script>
        </body>
    </html>